{% extends '_base.html' %}


{% block content %}
<div class="container py-md-3 py-0 ">

    <div class="row bg-white">
        <div class="col-lg-4 col-xl-3 py-3 d-none d-lg-block">
            <div class="shadow- bg-main h-100 py-3">

                <div class="container">
                    <a href="{% url 'shop:product-list' %}">
                        <div class="py-1 d-flex justify-content-between align-items-center ">
                            <span>Shop Now </span>
                            <span class="ml-auto">({{ all_products_count }})</span>
                        </div>
                    </a>
                    {% for category in all_categories %}
                    <a href="{{ category.get_absolute_url }}">
                        <div class="py-1 d-flex justify-content-between align-items-center 
                            {% if category == current_category %}text-primary bg-main px-1{% endif %}
                            ">
                            <span>{{ category }} </span>
                            <span class="ml-auto">({{ category.get_products_count }})</span>
                        </div>
                    </a>
                    {% empty %}
                    <div class="text-danger">
                        Sorry there are no categories
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-9 pl-0 py-2">
            <div class="banner-slide-container bg-main ">
                {% for banner in banners|slice:2 %}
                <div class="banner-slide p-2 bg-white  banner-slide-300">
                    <img src="{{ banner.image.url }}" alt="banner image">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container py-3">



    <div class="row">
        {% for category in categories %}
        <!-- End mobile category filter -->
        <div class="col-12 px-0 px-sm-2 pt-4 ">
            <div class=" shadow- bg-primary text-white-fixed p-3">
                <a href="{{ category.get_absolute_url }}"> {{ category }}</a>

            </div>
            {% with banners=category.get_active_banners %}
            {% if banners %}
            <div class="banner-slide-container py-2 mx-0">
                {% for banner in banners|slice:2 %}
                <div class="banner-slide bg-white p-2  p-md-3 rounded">
                    <img src="{{ banner.image.url }}">
                </div>
                {% endfor %}
            </div>

            {% endif %}
            {% endwith %}
            <div class="products-grid shadow- b-white">
                {% for product in category.products.all|slice:10 %}
                {% include 'shop/_partials/_product_card.html' %}

                {% endfor %}
            </div>
            {% if not category.products %}
            <div class="col-12 pb-4 bg-white text-center text-danger">
                Sorry there are no products at the moment.
            </div>
            {% endif %}


        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}