{% extends '_base.html' %}


{% block content %}
<div class="container pt-0 pb-3 pt-md-3">
    <div class="row">
        <div class="col-sm-6 pt-0 pt-md-4 px-1 px-md-2 col-lg-6">

            <div class="product-detail-image">

                <img class="img-fluid" src="{{ product.image.url }}">
            </div>


        </div>
        <div class="col-sm-6 px-1 px-md-2 pt-4  col-lg-6">
            <div class=" shado p-3">
                Product Information
            </div>

            <div class=" container  pb-2">
                <h2>{{ product.name }}</h2>
                <div class="pt-3 text-accent">
                    {% if product.discount_price %}
                    <h4 class="product-card-price">GH&#8373;{{ product.discount_price }}</h4>
                    <h4 class="product-card-discount-price">GH&#8373;{{ product.price }}</h4>
                    {% else %}
                    <h4 class="product-card-price">GH&#8373;{{ product.price }}</h4>
                    {% endif %}
                </div>
                <div>
                    <form class="d-flex flex-column flex-md-row pt-3" action="{{ product.get_add_to_cart_url }}"
                        method="GET">

                        <div class="d-flex ">

                            <button class="form-control mx-1" style="width: unset;" id="decrease_quantity"
                                type="button"><i class="fa fa-angle-left"></i></button>
                            <input name="quantity" id="quantity_input"
                                class="form-control text-center mx-1 w-100 w-unset"
                                style="max-width: 100px; width: 70px;" min="1" max="100" type="number" value="1">
                            <button class="form-control ml-1 mr-2" style="width: unset;" id="increase_quantity"
                                type="button"><i class="fa fa-angle-right"></i></button>
                        </div>
                        <div>

                            <button type="submit"
                                class="btn btn-xl my-2 my-md-0 form-control custom-btn-primary text-white-fixed"
                                style="width: unset;">Add to Cart</a>
                        </div>
                    </form>
                </div>
                <div class="py-3 my-4 bg-white">
                    <div class="container">
                        <h6 class="font-weight-bold">Description</h6>
                        <hr>

                        {{ product.description }}
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script async>
    function updateQuantity(number) {
        quantity = document.getElementById("quantity_input");
        quantity.value = parseInt(quantity.value) + number;
        if (quantity.value < 1) {
            quantity.value = 1
        }

    }
    document.getElementById("decrease_quantity").addEventListener("click", () => updateQuantity(-1));
    document.getElementById("increase_quantity").addEventListener("click", () => updateQuantity(1));
</script>
{% endblock %}