{% extends '_base.html' %}


{% block content %}
<div class="container py-3">
    <div class="row">
        {% if search_query %}
        <div class="col-12">
            <div class="bg-white py-4">
                <div class="container">
                    <div class="row">
                        <div class=" col-md-6 py-1 d-flex flex-column justify-content-center">

                            <p class="m-0">Search results for : <span class="font-weight-bold">{{ search_query }}</span></p>
                        </div>
                        <div class="col-md-6 py-1 d-flex flex-column justify-content-center">
                            {% include "shop/_partials/_search_form.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- Start Desktop Category filter -->
        <div class="col-sm-4 col-md-4 d-none d-md-block pt-4 px-0 px-sm-2 col-lg-3">
            <div class="shadow- bg-white">
                <div class="p-3 text-white-fixed bg-primary">
                    Categories
                </div>
                <div class="container">
                    <a href="{% url 'shop:product-list' %}">
                        <div
                            class="py-3 d-flex justify-content-between align-items-center border border-top-0 border-left-0 border-right-0">
                            <span>All </span>
                            <span class="ml-auto">({{ all_products_count }})</span>
                        </div>
                    </a>
                    {% for category in categories %}
                    <a href="{{ category.get_absolute_url }}">
                        <div class="py-3 d-flex justify-content-between align-items-center border border-top-0 border-left-0 border-right-0
                            {% if category == current_category %}text-primary bg-main px-1{% endif %}
                            ">
                            <span>{{ category }} </span>
                            <span class="ml-auto">({{ category.get_products_count }})</span>
                        </div>
                    </a>
                    {% empty %}
                    <div class="text-danger">
                        Sorry there are no categories
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <!-- End Desktop Category Filter -->
        <!-- Start mobile category filter -->
        <div class="col-12 d-block d-md-none ">
            <p>

                <button class="btn w-100 my-3 mx-0  py-3 btn-primary" type="button" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Filters
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <!-- Filters -->
                <div class="sidebar-categories">
                    <div class="shadow- bg-white">
                        <div class="p-3 text-white-fixed bg-primary">
                            Categories
                        </div>
                        <div class="container">
                            <a href="{% url 'shop:product-list' %}">
                                <div
                                    class="py-3 d-flex justify-content-between align-items-center border border-top-0 border-left-0 border-right-0">
                                    <span>All </span>
                                    <span class="ml-auto">({{ all_products_count }})</span>
                                </div>
                            </a>
                            {% for category in categories %}
                            <a href="{{ category.get_absolute_url }}">
                                <div class="py-3 d-flex justify-content-between align-items-center border border-top-0 border-left-0 border-right-0 
                                {% if category == current_category %}text-primary  bg-main px-1{% endif %}
                                ">
                                    <span>{{ category }} </span>
                                    <span class="ml-auto">({{ category.get_products_count }})</span>
                                </div>
                            </a>
                            {% empty %}
                            <div class="text-danger">
                                Sorry there are no categories
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <!-- End filters -->
            </div>


        </div>
        <!-- End mobile category filter -->
        <div class="col-sm-12 col-md-8 px-0 px-sm-2 pt-4  col-lg-9">
            <div class=" shadow- bg-primary text-white-fixed p-3">
                <a href="{% url 'shop:product-list' %}">Products</a>
                {% if current_category %} / <a href="{% url 'shop:product-list' %}"> {{ current_category }}</a>
                {% endif %}
            </div>
            <div class="products-grid shadow- b-white">
                {% for product in products %}
                {% include 'shop/_partials/_product_card.html' %}

                {% endfor %}
            </div>
            {% if not products %}
            <div class="col-12 pb-4 bg-white text-center text-danger">
                Sorry there are no products at the moment.
            </div>
            {% endif %}
            <div class="bg-white  pb-2">

                {% include "shop/_partials/_pagination.html" %}
            </div>

        </div>
    </div>
</div>
{% endblock %}