{% extends "_base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container py-5">
    <div class="bg-white px-4 px-md-5 py-5 ">

        <h1>Create Sms</h1>

        <form class="form" method="POST" action=".">
            {% csrf_token %}
            {% crispy sms_form %}
            <div class="col-12 py-2">
                <button type="submit" class="btn custom-btn-primary text-white-fixed">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}