{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container  py-5">
    <div class="row">
        <div class="col-lg-8">
            {% if request.user.addresses.all %}
            <div class="p-4 mb-5 bg-white text-dark " >
                <h4>Choose Delivery Address</h4>
                <div class="py-2 " style="overflow-x: auto;">
                    <table class="table table-striped">
                        <thead  class="font-weight-bold">
                            <tr>
                                <td>#</td>
                                <td>Street Name</td>
                                <td>House Number</td>
                                <td>Phone Number</td>
                                <td>Extra Description</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>

                            {% for address in request.user.addresses.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ address.street_name }}</td>
                                <td>{{ address.house_number }}</td>
                                <td>{{ address.phone_number }}</td>
                                <td>{{ address.extra_description }}</td>
                                <td>
                                    <a class="btn btn-sm btn-accent text-white-fixed" href="{% url 'shop:checkout' address.id %}">Select</a>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>


                    </table>
                </div>
            </div>
            {% endif %}
            <form class=" px-4 px-lg-5 pt-4 pb-4 bg-white text-dark" action="." method="POST"
                enctype="multipart/form-data">
                <h4 class="mb-4">Create New Delivery Address</h4>
                {% crispy address_form %}
                <div class="form-group ">
                    <input type="submit" value="Save" class="btn btn-primary form-control">
                </div>
            </form>
        </div>
        <div class="col-lg-4 pt-5 pt-md-0">
            <div class="bg-white p-4 text-dark">
                <h4>Cart</h4>
                <div class="py-2">

                    <table class="table table-striped">
                        <tbody>
                            <tr class="font-weight-bold">
                                <td>Name</td>
                                <td>Price</td>
                                <td>Qty</td>
                                <td>Total</td>
                            </tr>

                            {% for order_item in order.order_items.all %}
                            <tr id="order-item-{{ order_item.pk}}">
                                <td>
                                    <h6 class="text-md">{{ order_item.product.name }}</h6>
                                </td>
                                <td>
                                    {% if order_item.product.discount_price %}
                                    <p class="product-card-price font-weight-normal text-md">
                                        GH&#8373;{{ order_item.product.discount_price }}</p>
                                    <p class="product-card-discount-price d-block">
                                        GH&#8373;{{ order_item.product.price }}</p>
                                    {% else %}
                                    <p class="product-card-price font-weight-normal text-md">GH&#8373;{{ order_item.product.price }}</p>
                                    {% endif %}
                                </td>
                                <td class="d-flex align-items-center justify-content-center text-md">
                                    {{ order_item.quantity }}
                                </td>
                                <td class="text-md">
                                    GH&#8373;
                                    <span id="order-item-{{ order_item.pk}}-total">
                                        {{ order_item.get_total_price }}
                                    </span>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">There are no items in your cart.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}